/src/java/cf-debug-hibernate/nbproject/private/
/src/java/cf-debug-hibernate_old/nbproject/private/
src/java/cf-debug-hibernate/build.xml
src/java/cf-debug-hibernate/lib/
src/java/cf-debug-hibernate/nbproject/
/src/java/cf-debug-hibernate/dist/
test/db/
